body {
    background-color: #c2005a;
    font-family: Dialog;
    color: darkturquoise;
    font-size: 20px;
}

table {
    border: solid black;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

th, table {
    border: solid black;
    text-align: center;
}

td {
    border: 1px solid black;
    text-align: center;
}

h1 {
    text-align: center;
}

.header {
    background-color: darkturquoise;
    color: #c2005a;
}
.modal-body{
    width: 100%;
}
.modal-dialog{
    margin: auto;
    width: 800px;
}
.modal-content {
    width: 800px;
    background-color: darkturquoise;
    color: #c2005a;
}